<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbo.gmall.manage.mapper.PmsBaseAttrValueMapper">

    <select id="findByAttrId" resultType="com.bbo.gmall.bean.pms.PmsBaseAttrValue">
        SELECT * FROM pms_base_attr_value WHERE attr_id = #{attrId}
    </select>

    <select id="findByAttrIds" resultType="com.bbo.gmall.bean.pms.PmsBaseAttrValue">
        SELECT * FROM pms_base_attr_value
        <where>
            <if test="attrIds != null and attrIds.size() > 0">
                <foreach collection="attrIds" index="index" item="item" open="and attr_id in(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>